.routes-container {
    background: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 80px; 
    padding-right: 80px; 
    padding-left: 80px;
}
