.calendar-app {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.calendar-app-calendar {
    margin: 0 auto;
    max-width: 900px;
    background-color: #FAFAFA;
}
